html {
    font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

body {
    background: #3A3A4D;
    padding: 25px;
}

h1 {
    color: #efefef;
    font-weight: normal;
    font-weight: 300;
    margin-bottom: 30px;
}
h1 a {
    color: darkcyan;
    text-decoration: none;
    padding-bottom: 3px;
}
h1 a:hover {
    color: deepskyblue;
}


.list {
    background-color:#242437;
    width: 200px;
    height:500px;
    position: relative;
    display: block;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
    color: ghostwhite;
    padding: 0px;

}

.tile {
    color: #efefef;
    font-weight: normal;
    font-weight: 300;
    font-size: large;
    display: block;
    position: absolute;
    background-color: #9B2B50;
    width:200px;
    height:80px;

    text-align: center;
    line-height: 80px;
}


.layout {
    color: #efefef;
    margin-bottom: 15px;
}
.layout label {
    margin-right: 15px;
    cursor: pointer;
}
.layout label:hover {
    color: yellowgreen;
}
.layout input {
    margin-right: 3px;
}

.button{
    display: block;
    position: absolute;
    background-color: #3A3A4D;
    color: darkgray;
    width:200px;
    height:40px;
    margin-right: 20px;
    margin-left: 20px;
    border-style: solid;
    border-color: darkcyan;
    font-size: 1em;
    text-align: center;
    line-height: 32px;
}


.button:hover {
    background-color: darkcyan;
    color:whitesmoke;
}